@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'android' ;
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#a866
#1a5c37
#063d1e
*/

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #edeebc;    /* com esse ":root" vc pode criar variaveis, é so colocar o 
                            "--exemplo" e colocar, ai vc colocar dps igual ta em baixo  */
                            /*ai dps vc coloca o oq vc quer e dps o  "crtl espaço" e procura la*/
    --cor1: #83e1ad;        
    --cor2: #2fa866;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadra: arial, verdana, helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue','cursive';
    --fonteandroid: 'android', 'cursive';
    
}


body{
    background-color: var(--cor0);
    font-family: var(--fontepadra);

}

a.externo:after {
    content: '\00a0\1F517'; /*para colcar algum emoji basta colocar 
                                o 'content'*/
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em; /*altura do paragrafo*/
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    background-color:  var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

header {
    background-color: var(--cor5);
    min-height: 150px;
    
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4) 60%);
}

header > p {
    color: white;
    font-family: var(--fontepadra);
    font-size: 1.1em;
    max-width: 600px;
    padding-right: 10x;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
    
}

header > h1 {
    color: white;
    font-family: var(--fontedestaque);
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
    font-weight: normal;
   
}

nav {
    background-color: #063d1ed5  ;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397) ;
    padding: 10px;
}

nav > a {
    color: var(--cor1);
    padding: 20px;
    text-decoration: none;
    margin-top: 90px;
    margin-left: 20px;
    font-size: 14px;
    
}

nav > a:hover {
    background-color: var(--cor2);
    border-radius: 3px;
    transition-duration: 1s;
    padding: 8px;
    
}

main{
    padding: 10px;
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.video {
    background-color: var(--cor5);
    ;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    
}

.video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1{
    color: var(--cor5) ;
    font-family: var(--fonteandroid);
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
}

main h2{
    font-family: var(--fonteandroid);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px; /*para identar o paragrafo*/
    font-weight: normal;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.479);
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0\00a0'; /*colocar emoji na lista*/
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

 main img {
   width: 100%; 
}

main img.pequena {
    max-width: 350px; /*o max de tamanah q a foto pode ter*/
    margin: auto;
    display: block;
}

